.tag{
 color: blue;
 background-color: pink
 font-style: "italic"; 
 margin left: 1in;
 margin right: 1in;
 ul{
 	color :brown;
 	font-style: bold; 
 }
 table
 .p1{
 color: red;
 font-size: 18px;
 }
 .p2{
 color: brown;
 font-size:10px;  
 }