*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.chat{
    width: 360px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
}
.chat-header{
    text-align: center;
    background-color: #075d52;
    font-size: 24px;
    padding: 10px;
    color: #fff;
    font-family: "Lobster","cursive";
}

.chat-window{
    background-image: url(bg1.jpg);
    background-size: cover;
    height: 398px;
    width: 100%;
    overflow-y: scroll;
}

#messageForm{
    background-color: #075d51;
    position: absolute;
    bottom: 0;
    padding: 15px;
    width: 100%;
}

#msg-input{
    padding: 5px;
    border-radius: 15px;
    border: 0;
    width: 70%;
    outline: none;
    margin-right: 10px;
}
#msg-btn{
    width: 20%;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #fff;
    border: none;
}
.msg{
    list-style-type: none;
}
span{
    background-color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    font-size: 13px;
    text-align: left;
    margin: 5px 5px 5px 10px;
    box-shadow: 0.2px 0.3px 2px rgba(255, 255, 255, 0.5);
}
i{
    font-weight: bold;
}

.My{
    text-align: right;
}
.My span{
    background-color: #d0eeb2;
}
.My i{
    display: none;
}
#chat-window::-webkit-scrollbar{
    width: 0;
}

#nameForm{
    background-color: #fff;
    box-shadow: 0.3px 0.3px 5px rgba(0, 0, 0, 0.3);
    max-width: 224px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 25px;
    animation: modalup 1s 0.3 forwards;
}
#name-input{
    border: none;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #075d51;
    outline: none;
}
#name-btn{
    border: none;
    width: 106%;
    background-color: #075d51;
    padding: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
}
#room-Id{
    border: none;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #075d52;
    outline: none;
}
#user-Id{
    border: none;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #075d52;
    outline: none;
}

@keyframes modalup{
    from{
        top: 100%;
        opacity: 0;
        }
    to{
        top: 0%;
        opacity: 10; 
    }
}